scipy==1.4.1
graphviz==0.13.2
gym==0.9.4
seaborn==0.10.0
toolz==0.10.0
tqdm==4.40.2
numpy==1.18.3
Pympler==0.8
pydotplus==2.0.2
torch==1.9
matplotlib==3.1.2
statsmodels==0.11.1
pandas==1.0.1
numba==0.49.1
joblib==0.14.1
frozendict==1.2
contexttimer==0.3.3
hyperopt==0.2.4
imageio==2.8.0
ipython==7.15.0
keras==2.3.1
PyContracts==1.8.12
rpy2==3.3.3
scikit_learn==0.23.1
progress==1.5
geneticalgorithm
